// theme colors
$bg-color: #FFFFFF;
$primary-color: #000000;
$secondary-color: #33cccc;

// mixins
@mixin flex-style($flow, $justify) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: $flow;
  justify-content: $justify;
}

@mixin box-style($style) {
  -webkit-box-sizing: $style;
  -moz-box-sizing: $style;
  box-sizing: $style;
}

@mixin border-style() {
  border: 1px solid black;
}

/* STYLE SETTINGS  */

html {
  @include box-style(border-box);
  font-family: 'Libre Baskerville', serif;
}

*, *:before, *:after {
  @include box-style(inherit)
}

body {
  margin: 0;
}

a {
  color: white;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  display: flex;
  justify-content: center;
}

#global-nav-header{
  background-image: url("/assets/doodles.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: center fixed;
}

#logo{
  display: flex;
  justify-content: center;
}

.nav-links{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1.5vw;
}

.nav-links a:hover {
  color: #33cccc;
}

#register-container {
  justify-content: center;
}

.register-form {
  font-size: 1.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .register-btn {
    background-color: #33cccc;
    border: none;
    padding: 5px 40px;
  }
}

#login-container {
  justify-content: center;

  .login-form {
    font-size: 1.5vw;
    @include flex-style(row wrap, center);
    }
    .login-btn {
      background-color: #33cccc;
      border: none;
      padding: 5px 48px;
    }
  }

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2px 16px;
  .single-item {
    width: 33%;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    padding: 16px;
    a {
      color: #33cccc;
    }
    .uploaded-img {
      width: 100%;
    }
  }
}
.single-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card-details {
  font-size: 60%;
}


#logout-container {
  justify-content: center;

  .logout-form {
    font-size: 1.5vw;
    @include flex-style(row wrap, center);
    .logout-btn {
      background-color: #33cccc;
      border: none;
      padding: 5px 48px;
    }
  }
}

#gator {
  padding-top: 1.5vw;
  @include flex-style(row wrap, center);
}